################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUDPersonneRepository/bin/Debug/net8.0
/CRUDPersonneRepository/obj
